
.arc path {
  stroke: #fff;
}

html { 
	height: 100%;
}
body { 
    font: 10px;
	font-family: 'Source Sans Pro', sans-serif; 
	height: 100%; 
	margin: 0; 
	padding: 0;
	font-weight: 300;
	background-color:#fff;
	background: rgb(112,146,190) no-repeat right top;
    /*url('../images/strime.png')*/
}
#filters{
	float: top;
	background:#F0F2F2;
	border: 5px solid black;
	width: 70%;
	height: 10%;
	margin-left: 20px;
	padding-top: 20px;
	overflow: visible;
	position: relative;
}
#business{
    position: absolute;
    top:25%;
    left:0;
}
#crimeop{
    position: absolute;
    left: 120px;
}
#opacity{
    position: absolute;
    top:20%;
    right:32%;
    width: 350px;
    height: 10px;
}
#slider{
    position: absolute;
    top: 25px;
    width: 350px;
}
#slider .ui-slider-range { background: #729fcf; }
#slider .ui-slider-handle { border-color: #729fcf; }
#crime{
    position: absolute;
    top:25%;
    right:26.4%;
}
#logo {
    position: absolute;
    top: 2px;
    right: 50px;
    height: 10%;
    width: 20%;
}
#logoimg{
    width: 100%;
}
#map-canvas { 
	float: left;
	height: 80%;
	width: 70%;
	border: 5px solid black;
	margin-left: 20px;
	margin-top: 10px;
}
#info {
	background:#F0F2F2;
	float: right;
	border: 5px solid black;
	height: 80%;
	width: 25%;
	margin-top: 10px;
	margin-right: 20px;
}
#authors{
    font-family: "Brush Script MT", cursive;
    color: #fff;
    position: absolute;
    bottom: -10px;
    right: 30px;
}
.drow {border-bottom: 1px dotted #ACB3B3; width:100%; float:left;}
.dlabel{border:none; font-size:14px; color:#707070 ; vertical-align:top; text-align:right; padding: 5px; width:75px; float:left;}
.dvalue{border:none; font-size:12px; vertical-align:top; padding: 5px 15px 5px 5px; }
.details {border:1px solid #c0c0c0; margin-bottom:0px; background: #e0e0e0; overflow:hidden; border-bottom:0px; display: none;}
.details_active {background:white; overflow:hidden;}

ul.vtabs {margin:0px; padding:0px; list-style:none; height:25px;}
ul.vtabs li {padding:0px; height:25px; line-height:25px; background:#fff; overflow:hidden;}
ul.vtabs li a {text-decoration:none; color:black; display:block; padding: 0 10px; font-size:13px;}
ul.vtabs li a:hover {background:#ccc;}
.vcontent {border:1px solid #c0c0c0; margin-bottom:0px; background: #e0e0e0; overflow:hidden; border-bottom:0px}
.vcontent_active {background:white; overflow:hidden;}

.blank {font-size:48px; color: #C2C2C2; margin:15px}
#icontainer {position:absolute; top:0; left:0; z-index:100; width:232px; display:none}
#info_box {width: 200px; border: 2px solid gray; background: rgb(255, 255, 255); float:left;
background: rgba(255, 255, 255, 0.92); padding:10px 10px 15px 10px; font-size:11px; box-shadow: 2px 2px 12px black;}
a.infob{display:block; text-align:center; background:#dddddd; width:20px; height:20px; border-radius:20px; color:#fff;
-moz-border-radius:20px; cursor:help; /* Firefox 3.6 and earlier */}
a.infob:hover{background:#303030 ; text-decoration:none;}
.info, .noinfo{vertical-align:top; padding: 5px; width:20px; float:left;}
.defs {width:0px; display:none;}


/* Dropdown Magic*/

.wrapper-dropdown-4 {
    /* Size and position */
    position: absolute;
    width: 270px;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    z-index: 999999999;

    /* Styles */
    background: #fff;
    border: 1px solid silver;
    cursor: pointer;
    outline: none;
}

.wrapper-dropdown-4:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: rgb(112,146,190) transparent;
}

.wrapper-dropdown-4 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    margin-top: 1px;
    left: -1px;
    right: -1px;

    /* Styles */
    background: white;
    border: inherit;
    border-top: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  
    /* Hiding */
    opacity: 0;
    pointer-events: none;
}



.wrapper-dropdown-4 .dropdown li {
    position: relative; /* Enable absolute positioning for checkboxes */
}

.wrapper-dropdown-4 .dropdown li label {
    display: block;
    padding: 5px 0px 5px 0px; /* Same padding as the button */
    border-bottom: 1px dotted rgb(112,146,190);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-4 .dropdown li:last-of-type label {
    border: none;
}

.wrapper-dropdown-4 .dropdown li input /* Checkboxes */ {
    position: absolute;
    display: block;
    right: 10px;
    top: 50%;
    margin-top: -8px;
}

/* Hover state */

.wrapper-dropdown-4 .dropdown li:hover label {
    background: #f0f0f0;
}

/* Checked state */

.wrapper-dropdown-4 .dropdown li input:checked ~ label {
    color: grey;
    /*text-decoration: line-through;*/
}

/* Active state */

.wrapper-dropdown-4.active:after {
    border-width: 0 6px 6px 6px;
}

.wrapper-dropdown-4.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-4 .dropdown,
.no-pointerevents .wrapper-dropdown-4 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-4.active .dropdown,
.no-pointerevents .wrapper-dropdown-4.active .dropdown {
    display: block;
}